@inherits LayoutComponentBase
<div>
    @* <div class="sidebar">
        <NavMenu />
    </div> *@

    <main>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">BookStore</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://github.com/Wilfridboris" target="_blank"><i class="bi bi-github"></i> github</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.instagram.com/borisdev237/" target="_blank"> <i class="bi bi-instagram"></i> instagram</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

        <article>
            @Body
        </article>
    </main>
</div>
